.ci{
    height: 20rem;
}
.progress{
    width: 1500px ;
    height: 150px;
}
th, td {
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 1.5em;
    font-weight: 900;
    color: gray;
    letter-spacing: .1em;
    }
    tr.even-row{
        background-color: lightgray;
    }